body {
    background-image: url(./images/GOT.jpg);
    background-size: cover;
}

#bannerImg {
    align-content: center;
}

.character-card {
    display: inline-block;
}

.card-img-top {
    height: 220px;
    width: 220px;
    object-fit: cover;
    object-position: 0 0;
    margin: 0 auto;
}