body {
    background-image: url(./images/GOT.jpg);
    background-size: cover;
}

#bannerImg {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.character-card {
    display: inline-block;
}

.card-img-top {
    height: 220px;
    width: 220px;
    object-fit: cover;
    object-position: 0 0;
    margin: 0 auto;
}

.card {
    margin-bottom: 20px;
}
